{% if post.collection == 'publications' %}
  <div class="pub-meta">
    Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
  </div>
{% endif %}

{% if post.excerpt %}
  <div class="pub-authors">{{ post.excerpt | markdownify | strip_html }}</div>
{% endif %}

{% if post.citation %}
  <div class="pub-citation">Recommended citation: {{ post.citation }}</div>
{% endif %}

<div class="pub-links">
  {% if post.paperurl %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
  {% if post.slidesurl %} | <a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
  {% if post.bibtexurl %} | <a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
</div>
